joke.xsd


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jokes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="category" type="xs:string" maxOccurs="unbounded"/>
        <xs:element name="joke" type="xs:string" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>